* {
    margin: 0;
    padding: 0;
}

#menu {
    background: black; /*** ??? ***/
    display: table;
    width: 100%;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    font: 13px verdana, arial, tahoma, sans-serif;
    color: white;
    background: black;
    text-decoration: none;
    float: left;
    padding: 5px 10px;
    margin-left: 1px;
}

#menu ul li a:hover {
    color: black;
    background: darkgray;
}

#rodape {
    margin-top: 44.8%;
    background-color: black;
    width: 100%;
    height: 4.5%;
    
}

#conteudoRodape {
    color: white;
}

#campotitulo{
    width: 32%;
}


#tamanhoDivTabela{
    height: auto;  /*565px*/
    width: 50%;
    margin-left: 10%;
}

.tbGeral{
    color: white;
    background-color: black;
    border-collapse: collapse;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    border-radius: 10px;
    width: 100%;
    opacity: 0.8;    
}

.tituloTab{
    padding: 10px;
    border: 0px;
    width: 50%;
    text-align: left; 
}

.colunaTab{
    border: 0px;
    padding-left: 50px;
    width: 400px;
    height: 68px;
}

.titulonomeTab{
    color: red;
    background-color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    border-radius: 20px;
    font-weight: bold;      
    text-align: center;
}

.buttonReset{
    width: 90%;
    cursor: pointer;
    margin-left: 5%;
    color: black;
    background-color: #7300A4;
    font-family: 'Amatic SC', cursive;
    font-size: 100%;
    border: 1px solid #7300A4;
    font-weight: bold;
    border-radius: 30px;
}

.buttonSubmit {
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 10px; 
    cursor: pointer;
    color: black;
    font-size: 100%;
    background-color: #7300A4;
    font-family: 'Amatic SC', cursive;
    border: 1px solid #7300A4;
    font-weight: bold;
    font-size: 100%;
    border-radius: 30px;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=date], input[type=time], select{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: lavender;
  color: black;
}

.buttonSubmit:hover {
  background-color: #B04FFF;
}

.buttonReset:hover {
  background-color: #B04FFF;
}

/* Consulta */ 
.tableconsulta {
    border: 1px solid darkgray;
    background-color: black;
    color: white;
    width: 90%;
    margin: auto;
    border-spacing: 0px;
    border-collapse: separate;
    margin-bottom: 1%;
    font-family: monospace;
    font-size: 15px;
}
      
#consulta{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    position: relative;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%; 
    margin-top: 5%;
    width: 90%;
}

.tableconsulta tr th {
    background-color: black;
    font-weight: bold;
}

.tableconsulta tr > td,th {
    border: 1px solid darkgray;
    padding: 5px;
    text-align: center;
}

#voltarHome {   
    margin-left: 10%;
    text-decoration: none;

    cursor: pointer;
    color: black;
    background-color: #7300A4;
    font-family: 'Amatic SC', cursive;
    border: 1px solid #7300A4;
    font-weight: bold;
    border-radius: 30px;

}   